@import url('//fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap');
@import url('//fonts.googleapis.com/css?family=Cormorant+Garamond:500&display=swap');

body {
  font-family: 'Ibarra Real Nova', serif;
}

html, body {
  background: #ccc;
  height: 100%;
}

html {
  overflow-y: hidden;
}

.logo {
  font-family: 'Cormorant Garamond', serif;
}

.logo a, .logo a:visited {
  color: #333;
}

.profilepicture {
  margin: 30px auto;
}

.profilepicture img {
  filter: grayscale(1);
  display: block;
  height: auto;
  width: 100%;
  border: solid
  black 5px; 
}

.image.is-256x256 {
  height: 256px;
  width: 256px;
}
  

.wrapper {
  display: flex;
  flex-grow: 1;
  height: calc(100% - 61px);
  overflow: auto;
  flex-direction: column;
  justify-content: space-between;
}

.tabs {
  background: #ccc;
}

.box {
  background: transparent;
  color: #4a4a4a;
  display: block;
  margin-bottom: 1px;
  box-shadow: none !important;
}

.footer {
  background: #ccc;
  border-top:#dbdbdb solid 1px;
}

.footer ul {
  list-style-type: none;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.footer ul li {
  margin-left: 10px;
}

/* new css */
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.image {
  padding: 0 1.5rem;
  width: 100%;
  margin-bottom: 1.5rem;
  display: block;
}

.button.is-text {
  text-decoration: none;
}

.footer {
  padding: 3rem 1.5rem 3rem;
}

.push-left {
  margin-left: 0.75rem;
}

.push-right {
  margin-right: 0.75rem;
}

.logo {
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  border-bottom: 0;
  font-size: 1.5rem;
}

/* header .level {
  margin-bottom: -1px;
  border-bottom: 1px solid #dbdbdb;
} */

.tabs {
  background: transparent !important;
}

.tabs ul,
.tabs a {
  border-bottom-color: transparent !important;
  border-bottom-style: solid;
  border-bottom-width: 0 !important;
}
